
.icon-play:before { content: '\e5cc'; } /* '' */
.icon-music:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-weibo:before { content: '\e802'; } /* '' */
.icon-bug:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-wechat:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-doc-inv:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-yen:before { content: '\e80e'; } /* '' */
.icon-dollar:before { content: '\e80f'; } /* '' */
.icon-emo-happy:before { content: '\e810'; } /* '' */
.icon-emo-unhappy:before { content: '\e811'; } /* '' */
.icon-money:before { content: '\e812'; } /* '' */
.icon-export:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-pause:before { content: '\e817'; } /* '' */
.icon-picture:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-heart-empty:before { content: '\e81b'; } /* '' */
.icon-heart:before { content: '\e81c'; } /* '' */
.icon-rss:before { content: '\e81d'; } /* '' */
.icon-gift:before { content: '\e821'; } /* '' */
.icon-edit:before { content: '\e822'; } /* '' */
.icon-android:before { content: '\e823'; } /* '' */
.icon-info:before { content: '\e824'; } /* '' */